19*{

	margin: 0;
	padding: 0;
}
.row
{
    
    max-width: 1140px;
    margin:0 auto;
    
    
}


 body
 {
 	font-family: tahoma;
 }
 .hero
 {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
 }
header
{
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)),url(img/sp.jpg);
    height:100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
h1
{
    color: white;
}
.main-nav
{
    list-style: none;
    float: right;
    margin-top: 60px;
    
}
.main-nav li
{
    display: inline-block;
    margin-left: 20px;
}
.main-nav li a
{ 
    color: white;
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
}
.main-nav li a:hover{
    color: #e67e22;
    border-bottom: 2px solid #e67e22;
    transition: all 0.5s ease-in;
    padding: 15px 0;
}
    
    


.logo img
{
    height: 100px;
    float: left;
    margin-top: 30px;
}
/*.search-box-wrapper
{
    display:inline-flex;
    font-size: 30px;
    width: 400px;
    height: 45px;
    position:absolute;
    z-index:3;
    left: 60%;
    top: 100px;
}

.search-box-input
{   font-size: inherit;
    border: 0.2em solid #00FA9A;
    border-radius: 0.5em 0 0 0.5em;
    padding:o.2em 0.5em;
    outline: 0;
    
}
.search-box-input:hover,
.search-box-input:focus{
    border-color: #00FA9A;
}
.search-box-button
{
    font-size: inherit;
    border: 0.2em solid #00FA9A;
    border-radius:0 0.5em 0.5em 0;
    background-color:#00FA9A;
    border-left: 0;
    padding:0 0.7em;
    color:white;
    font-weight:bold;
    outline: 0;
    cursor: pointer;
}

.search-box-button:hover,
.search-box-button:focus
{
    border-color:#90EE90F;
    background-color:#90EE90;
}*/
.btn
{
    border:1px solid #e67e22;
    padding: 10px; 
    color:#e67e22;
    text-decoration: none;
    border-radius:12px;
    margin-right:15px;
    
    
}
.button-awesome
{
    margin-top:40px;
    
}
.btn-half
{
    background-color: #e67e22; 
    color: white;
    
    
    
}
.btn-full:hover
{
    background-color: #e67e22; 
    color: white;
    transition:all 0.5s ease-in;
    
}
 
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 20px;
   
    position:absolute;

    left: 60%;
    top: 100px;
    
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display:none;
  
}

input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 300px;
    
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 440px;
	background-color: #fff;
	border-color: #66CC75;
    outline: 0;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	 box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

.copy
{
    width:70%;
    margin-left:15%;
    margin-bottom: 20px;
}

h3:after
{
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    display: block;
    content: "";
    margin: 0 auto;
    margin-top: 30px;
}

.features h3
{
    margin-top: 80px;
    margin-bottom: 30px;
}


.arranging
{
    
    text-align: justify;
    
    
}

.features i
{
   font-size: 40px;
    color: #e67e22;
    margin-left:40%;
}

.features h4
{
    margin-left: 40px;
    
    
}
.meal-showcase
{
    list-style: none;
    width: 100%;
}
.meal-showcase li
{
    display: block;
    width:19.4%;
    float: left;
}
.meal-photo
{
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.meal-photo img
{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: all 0.5s;
}
.meal-photo img:hover
{
    
      transform: scale(1.05);
}
.meal
{
    margin-top:70px;
}

.pic img
{
    width: 45%;
    margin-left: 40%;
    margin-top: 50px;
}
.works-step
{
    margin-top: 50px;
}
.works-step div
{
    border: 1px solid #e67e22; 
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.works-step img
{
    height: 40px;
    margin-top:30px;
    margin-right: 20px;
}
.clearfix
{
  zoom:1;
}
.clearfix:after
{
    visibility: hidden;
    content: ".";
    height: 0;
    display: block; 
    clear: both;
}
.mobile
{
    margin-top: 80px;
    
}
.cities
{
    margin-top: 100px;
}
.cities img
{
    width:100%;
    margin-top: 50px;
}
.cities i{
    color: #e67e22;
}
.testimonials
{
    margin-top: 80px;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/2000.jpg);
    padding-top: 80px;
    padding-bottom: 60px;
    color: white;
    margin-top: 60px;
    background-attachment: fixed;
}
.testimonials p
{
    color: white;
    line-height: 25px;
    text-align: justify;
    margin-top: 40px;
}

.testimonials cite img
{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-right: 10px;
}
.btn-block
{
    background-color:#e67e22;
    color: #fff;
    border-radius:4px;
    margin-top: 20px;
}
.gap

{
    margin-top: 40px;
}
.form
{
    margin-top: 40px;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer 
{ 
    background-color:#0c1a1e; min-height:250px; font-family: 'Open Sans', sans-serif; 
}
.footerleft 
{ 
    margin-top:50px; padding:0 36px; 
}
.logofooter { margin-bottom:50px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:30px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom 
{  
    margin-top:50px;
    
}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright 
{ 
     min-height:50px; 
     background-color:#000000;
}
 .copyright{ text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
.container
{
    margin-top: 10px;
}
